# Environment variables loaded by direnv.
# https://direnv.net/

# Ignore the global virtualenvs and use internal venv instead.
# The `.venv` directory will be created automatically by pipenv if doesn't exist.
# https://stackoverflow.com/a/52540270/1677041
export PIPENV_IGNORE_VIRTUALENVS=1
export PIPENV_VENV_IN_PROJECT=1

# https://pipenv.pypa.io/en/latest/advanced/#working-with-platform-provided-python-components
export PIP_IGNORE_INSTALLED=1

# https://pipenv.pypa.io/en/latest/advanced/#changing-default-python-versions
export PIPENV_DEFAULT_PYTHON_VERSION=3.11
